.container{
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background-color: rgb(255, 255, 255);
}
.guide-image{
	height: 80%;
	width: 100%;
}
.main-image{
	width: 80%;
	height: 80%;
}
.guide-text{
	display:block;
	background-color: black;
	height: 20%;
	width: 70vw;
	margin-left: auto;
	border-top-left-radius: 2rem;
	cursor: pointer;
}
.title{
	color: rgb(102, 100, 100);
	text-transform: uppercase;
	text-align: center;
	font-size: 5rem;
}
