.container {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  width: 20vw;
  background-color: grey;
  flex-direction: column;
  /* transform: scaleX(0); */
}

.header {
  flex-grow: 1;
  color: white;
}
.header h3 {
  font-size: 4rem;
}

.links {
  position: relative;
  top: -200px;
  flex-grow: 3;
  background: grey;
  color: black;
}

.show {
  /* position: relative;
  top: -200px; */
  transform: scaleX(1);
}

.hidden {
  transform: scaleX(0);
}
.ifb {
  position: relative;
  top: -150px;
  left: -160px;
}

.linkText {
  margin-left: 1em;
  text-align: center;
  color: black;
}
.insideMenuBar {
  position: absolute;
  transform: scale(0.17, 0.17);
  top: -320px;
  left: -230px;
  z-index: 2;
}
