.container{
	display:flex;
	min-height: 100vh;
	height:100vh;
	width: 20vw;
	background-color: red;
	flex-direction: column;
	/* transform: scaleX(0); */
}

.header{
	flex-grow: 1;
	color: white;
}
.header h3{
	
	font-size: 4rem;
}

.links{
	flex-grow: 3;
	background: black;
	color: white;
}

.show{
	transform: scaleX(1);
}

.hidden{
	transform: scaleX(0);
}
